<!DOCTYPE html>
<html lang="en">

<head>
 <title>About</title>
<link rel="icon" href="../../public/img/weather.png">
 <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div class="main-content">
  {{>header}}
  <p>This site was created by Manikandan. It uses data from map-box.com and weather-stack to show the weather for our desired search</p>
  </div>
  {{>footer}}
</body>

</html>